.mailboxarea {
    margin-top: 65px;
    width: 300px;
    height: 700px;
    overflow-y: auto;
    border: solid 1px;
    border-radius: 5px;
    position: absolute;
}

.mailboxcontainer {
    margin-left: 300px;
    margin-top: 50px;
}

.inboxletter {
    background-color: cornflowerblue;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.btnsavestyle {
    padding-top: 540px;
    padding-left: 880px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}