<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beautiful Souls</title>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet'>
    <link rel='stylesheet' href='client/create.css'>
</head>

<body>
    <div class="container">
        <div class="content">
            <img class="letterstyle" onclick="focusTextArea()" width="542" height="704" src="client/letter.png">
        </div>
        <div class="overlay">
            <div class="imguploadcontainer" draggable="true" ondragstart="handleDragStart(event)"
                ondrag="handleDrag(event)">
                <img id="imguploaded" class="imgplaceholder" src="#" />
            </div>
            <div class="txtarea">
                <textarea id="txtLetter" onpaste="return false;" spellcheck="false"></textarea>
            </div>
        </div>
    </div>
    <div>
        <input type="button" id="btnSave" value="Save Letter" onclick="saveLetter()" />
    </div>
    <div>
        <input type='file' onchange="readURL(this);" />
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="client/create.js"></script>
</body>

</html>