<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beautiful Souls</title>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet'>
    <link rel='stylesheet' href='client/create.css'>
    <link rel='stylesheet' href='client/sidebar.css'>
    <link rel='stylesheet' href='client/modal.css'>
</head>

<body>
    <div class="container">
        <div class="menuposition">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        </div>

        <div class="content">
            <img class="letterstyle" onclick="focusTextArea()" width="542" height="704" src="client/letter.png">
        </div>
        <div class="overlay">
            <div class="imguploadcontainer" draggable="true" ondragstart="handleDragStart(event)"
                ondrag="handleDrag(event)">
                <img id="imguploaded" class="imgplaceholder" src="#" />
            </div>
            <div class="txtarea">
                <textarea id="txtLetter" onpaste="return false;" spellcheck="false"></textarea>
            </div>
        </div>
        <div class="overlay btnsavestyle">
            <img width="180" height="180" onclick="saveLetter()" src="client/waxstamp.png">
        </div>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <p>Letter successfully created!</p>
                <div>
                    <input type="button" onclick="closeModal()" class="modalclosebutton" value="Ok">
                </div>
            </div>
        </div>
    </div>



    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
        <a href="/view">View other Letters</a>
        <a href="/inbox">Mailbox</a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="client/create.js"></script>
    <script src="client/letter.js"></script>
</body>

</html>